- hosts: localhost
  connection: local
  become: true
  tasks:
  - name: Install htop
    apt:
      name: htop
  - name: Install cmatrix
    apt:
      name: cmatrix
  - name: Install tcpstat
    apt:
      name: tcpstat

